{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
        {% if user.is_authenticated %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% endif %}
        <div class="petinfo">
            <h1>펫 정보</h1>
            <table>
              <tbody>
                <tr>
                    <td>
                      <p class="listTitleType">이름</p>
                    </td>
                    <td>
                      <p class="listTitle">{{ post.title }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                      <p class="listTitleType">종</p>
                    </td>
                    <td>
                      <p class="listTitle">뽀메라리안</p>
                    </td>
                </tr>
                <tr>
                    <td>
                      <p class="listTitleType">생년월일</p>
                    </td>
                    <td>
                      <p class="listTitle">2008년</p>
                    </td>
                </tr>
                <tr>
                    <td>
                      <p class="listTitleType">중성화여부</p>
                    </td>
                    <td>
                      <p class="listTitle">안함</p>
                    </td>
                </tr>
                <tr>
                    <td>
                      <p class="listTitleType">광견병접종여부</p>
                    </td>
                    <td>
                      <p class="listTitle">접종함</p>
                    </td>
                </tr>
                <tr>
                    <td>
                      <p class="listTitleType">특이사항
                    <td>
                      <p class="listTitle">하루에 두 번 밥을 줘야 합니다</p>
                    </td>
                </tr>
              </tbody>
            </table>
            
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        <div class="ownerinfo">
            <h1>주인 정보</h1>
        </div>
    </div>
    <!-- 이 밑에 줄 주석임 -->
        <form method="POST" class="pw-form">{% csrf_token %}
        	<input type="password" maxlength="4" name="password" required placeholder="수정하려면 4자리 비밀번호를 입력해주세요" />
        	<!-- <button type="submit" class="save btn btn-default">ㅅ</button> -->
        	<button type="submit" class="btn btn-default">수정하기&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span></button>
        </form>
        <!-- 이 위에까지 주석이고 밑에는 원래 있는건데 잠시 주석 처리 해놨다 -->
        	<!-- <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">수정하기&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span></a> -->
        {% if messages %}
        <ul class="messages">
        	{% for message in messages %}
        	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        	{% endfor %}
    	</ul>
		{% endif %}
{% endblock %}