{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
        {% if user.is_authenticated %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% endif %}
        <div class="petinfo">
            <div><img src="/static/pet.jpg" alt="img" id="icon_info"/><h1 id="text_info">펫 정보</h1></div>
            <table class="petinfotable">
              <tbody>
                <tr><td><p class="listTitleType">이름 :&nbsp;&nbsp;&nbsp;&nbsp;</p></td><td><p class="listTitle">{{ post.title }}</p></td></tr>
                <tr><td><p class="listTitleType">종 :&nbsp;&nbsp;&nbsp;&nbsp;</p></td><td><p class="listTitle">{{ post.breed }}</p></td></tr>
                <tr><td><p class="listTitleType">생년월일 :&nbsp;&nbsp;&nbsp;&nbsp;</p></td><td><p class="listTitle">{{ post.birthdate }}</p></td></tr>
                
                <tr><td><p class="listTitleType">중성화 여부 :&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
                <td><p class="listTitle">{{ post.ifneutralized }}</p></td></tr>
                
                <tr><td><p class="listTitleType">광견병 예방 접종 여부 :&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
                <td><p class="listTitle">{{ post.ifvaccinatedrabies }}</p></td></tr>
                
                <tr><td><p class="listTitleType">반려 동물 등록 번호 :&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
                <td><p class="listTitle">{{ post.registrationnumber }}</p></td></tr>
                
                <tr><td><p class="listTitleType">특이사항 :&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
                <td><p class="listTitleDetails">{{ post.text|linebreaksbr }}</p></td></tr>

                <tr><td><p class="listTitleType">건강상의 주의사항 :&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
                <td><p class="listTitleDetails">{{ post.healthwarnings|linebreaksbr }}</p></td></tr>
              </tbody>
            </table>
            
            
        </div>
        <div class="ownerinfo">
            <div><img src="/static/owner.jpg" alt="img" id="icon_info"/><h1 id="text_info">주인 정보</h1></div>
            <table class="ownerinfotable">
              <tbody>
                <tr><td><p class="listTitleType">이름 :&nbsp;&nbsp;&nbsp;&nbsp;</p></td><td><p class="listTitle">{{ post.number }}</p></td></tr>
                <tr><td><p class="listTitleType">비상연락망 :&nbsp;&nbsp;&nbsp;&nbsp;</p></td><td><p class="listTitle">{{ post.contact1 }}</p></td></tr>
                <tr><td><p class="listTitleType">비상연락망2 :&nbsp;&nbsp;&nbsp;&nbsp;</p></td><td><p class="listTitle">{{ post.contact2 }}</p></td></tr>
                <tr><td><p class="listTitleType">주소 :&nbsp;&nbsp;&nbsp;&nbsp;</p></td><td><p class="listTitle">{{ post.address }}</p></td></tr>
              </tbody>
            </table>
        </div>
    </div>
    <!-- 이 밑에 줄 주석임 -->
        <form method="POST" class="pw-form">{% csrf_token %}
        	<input type="password" maxlength="4" name="password" required placeholder="수정하려면 4자리 비밀번호를 입력해주세요" />
        	<!-- <button type="submit" class="save btn btn-default">ㅅ</button> -->
        	<button type="submit" class="btn btn-default">수정하기&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span></button>
        </form>
        <!-- 이 위에까지 주석이고 밑에는 원래 있는건데 잠시 주석 처리 해놨다 -->
        	<!-- <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">수정하기&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span></a> -->
        {% if messages %}
        <ul class="messages">
        	{% for message in messages %}
        	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        	{% endfor %}
    	</ul>
		{% endif %}
{% endblock %}