.page-header {
    background-color: #ffcc99;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

#icon_info {
    width: 80px;
    height: 80px;
    float: left;
    transform: translate(0px,-30px);
}

/*#text_info {
    margin-left: 200px;
}*/

.content {
    font-family: 'Lobster', 'meiryo', 'Jua', cursive;
    margin-left: 120px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', 'meiryo', 'Jua', cursive;
}

.date {
    color: #ff0000;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    margin-top: 30px;
    width: 100%;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.petinfo {        
    margin-top: 60px;
}

/*.petinfotable {   //효과가 없다. 왜일까?
    width: 50%;
    margin : 0 auto;
}*/

.ownerinfo {
    margin-top: 60px;
}

/*.ownerinfoinfotable {
    width: 50%;
    margin : 0 auto;
}*/

.listTitleType {
    font-family: 'Lobster', 'meiryo', 'Jua', cursive;
    font-size: 20pt;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 240px;
    display: inline-block;
/*    background-color: #888888;*/
}


.listTitle {
    font-family: 'Lobster', 'meiryo', 'Jua', sans-serif;
    font-size: 20pt;
    display: inline-block;
/*    margin-left: 50px;        //효과가 없다. 왜일까?
    padding-left: 50px;*/
}

.listTitleDetails {
    font-family: 'Lobster', 'meiryo', 'Jua', sans-serif;
    font-size: 15pt;
    display: inline-block;
/*    margin-left: 50px;        //효과가 없다. 왜일까?
    padding-left: 50px;*/
}


#editH1 {
	font-family: 'Lobster', 'meiryo', 'Jua', cursive;
	font-size: 20pt;
	margin-bottom: 40px;
}

/* 이 아래가 비밀번호 부분임 */
.pw-form {
    margin-left: 120px
}

.pw-form input{
    width: 40%;
}